@model IEnumerable<GalleryApp.Core.Models.Gallery>

@{
    ViewBag.Title = "Index";
}

<h2>Galleries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="col-md-12">
    @foreach (var item in Model)
    {
    <div class="col-md-3" style="height:300px;padding:10px;margin:10px;border:solid thin whitesmoke">
        <div class="col-md-12" style="margin-bottom:5px">
            <strong>@Html.DisplayFor(modelItem => item.GalleryName)</strong>
        </div>

        <div class="col-md-12">
            <img class="img-responsive" style="height:150px" src="~/Content/Gallery/@item.ImageUrl" />
        </div>

        <div class="col-md-12">
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </div>

        <div class="col-md-12">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>

    </div>

       
        
    }
</div>

