@model IEnumerable<GalleryApp.Core.Models.GalleryImage>

@{
    ViewBag.Title = "Index";
}

<h2>Images</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="col-md-12">

        @foreach (var item in Model)
        {
    <div class="col-md-2" style="height:300px;margin:10px;padding:10px;border:solid thin whitesmoke">
        <div class="col-md-12">
          in @Html.DisplayFor(modelItem => item.GalleryName)
        </div>
        <div class="col-md-12">
            <img class="img-responsive" style="height:150px" src="~/Content/GalleryImages/@item.GalleryImageUrl" />
        </div>
        <div class="col-md-12">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-md-12">
            @Html.DisplayFor(modelItem => item.Description)
        </div>
        <div class="col-md-12">
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </div>
        <div class="col-md-12">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>

      
    </div>
        }

</div>
<div class="col-md-12 clearfix" ></div>